# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# yarn
.yarn/cache
.yarn/install-state.gz
# !.yarn/patches
# !.yarn/releases
# !.yarn/plugins
# !.yarn/sdks
# !.yarn/versions

.pnp.*
/node_modules

test_puppeteer/artifacts/*.png

.vscode/
.idea